
.dialogItems{
    color: black;
    text-decoration: none;
    text-align: center;
    background:bisque ;
    border: 1px solid transparent;
    padding: 15px;
    border-radius: 50%;
}
.active{
    color:darkgreen;
    text-decoration: none;
}
.noneActive{
    color:black;
    text-decoration: none;
}
