.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    border-left: 1px solid #282c34;
    padding: 15px;
}

.buttons{
    display: flex ;
    flex-direction: row;
}
.messages{
    padding-left: 15px;
   text-align:left;

}