.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    border-left: 1px solid #282c34;
    padding: 15px;
}

.inputArea{
    margin-bottom: 10px;
    flex: 0;
    padding-left: 15px;
}
.messages{
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    padding-left: 15px;
    text-align:left;
}
.listOfMessage{
    flex: 1;
}
.buttons{
    display: flex;
    flex-direction: row;
}